.mainnn {
    height: auto;
    width: 100%;
}


.dennis_container {
    height: 100vh;
    background-color: #D4E9F8;
    padding-top: 130px;

}

.dennis {
    width: 50%;
    height: 400px;
    border: 1px solid black;
    margin-left: 50px;
    text-align: center;
    color: white;
    line-height: 30px;

}

.dennis_p {
    text-align: start;
    font-size: 25px;

}


.how_started_container {
    border: 1px solid black;
    height: 500px;
    display: flex;
    justify-content: space-between;



}

.future_container {
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.how_started_icon {
    width: 420px;
    margin-top: 250px;
    margin-left: 50px;
    transform: translate(0%, -50%);

}

.future_icon {
    height: 300px;
    margin-top: 250px;
    margin-left: 150px;
    transform: translate(0%, -50%);
}

.how_started_text {

    width: 45%;
    margin-right: 80px;
    margin-top: 60px;
    line-height: 25px;
    text-align: end;
}

.how_started_text h1 {
    color: #255592;
}

.how_started_text p {
    color: #A9B1BB;
    letter-spacing: 1px;
    line-height: 30px;
}

.gap {
    background-color: #D4E9F8;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.gap_img {
    height: 100px;
}

.flip {

    transform: scaleX(-1);

}

.skills {
    height: 500px;
    border: 2px solid blue;
}

.skills_text {
    width: 50%;
    height: 300px;

    color: #255592;
    position: absolute;
    left: 50px;
}

.skills_text p {
    color: #A9B1BB;
    letter-spacing: 1px;
    line-height: 25px;
}

.skills2 {
    height: 700px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

}

.skills_img {
    width: 150px;
}

.skills_each {
    width: 200px;
    text-align: center;
    margin-top: 100px;
}

h4 p {
    color: #A9B1BB;
}

@media screen and (max-width: 768px) {
    .dennis {
        width: 90%;
        height: 400px;
        border: 1px solid black;
        margin: auto;


    }

    .how_started_icon {
        display: none;

    }

    .how_started_container {
        border: 1px solid black;
        height: auto;
        display: block;




    }

    .how_started_text {

        width: 90%;
        margin: auto auto 50px auto;
        text-align: justify;
    }

    .how_started_text h1 {

        text-align: start;
        line-height: normal;
    }

.skills {
    height: 500px;;
    border: 2px solid blue;
    text-align: center;

}

.skills_text {
    width: 90%;
    margin: auto;
text-align: justify;
    position: relative;
    left: inherit;


}
.skills_text h1 {
    font-size: 30px;
}


.skills2 {
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 1px;

}
    .skills_each
    {
        margin: 50px auto;
    }
.future_icon {
display: none;
}














}
