.Portfolio_section {
    background-image: url("../image/portfolio.png");
    height: 70vh;
    background-size: 100%;
    background-size: cover;
}

.portfolio_p {
    height: 100px;
    border-top: 2px solid #255592;
    border-left: 2px solid #255592;
    padding: 15px;
    position: absolute;
    width: auto;
    top: 150px;
    left: 100px;
    color: #255592;
}

.portfolio_p p {
    font-size: 30px;
}

.portfolio_p h1 {
    margin: 0;

}

.portfolio_container {
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color: #255592;
}

.portfolio_each {

    width: 250px;
    height: auto;
    text-align: center;
    background-color: #D4E9F8;
    box-shadow: 0px 0px 20px 20px #D4E9F8;
    margin: 50px;
}

.portfolio_each p {
    color: #5a6f8a;
}

.portfolio_img {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.portfolio_imge {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {

    .portfolio_container {

        display: block;
    }

    .portfolio_each {
        margin: 100px auto;
    }

    .Portfolio_section {
        height: 50vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .portfolio_p {
        position: inherit;
        height: auto;
        border: none;
    }
}
