* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial;
    overflow-x: hidden;
    display: block;

}

.they_said {
    color: #2B7DBD;
    margin-left: 50%;
    transform: translateX(-25%);
    margin-top: 50px;
    white-space: nowrap;
}

nav {
    background-color: #E7F5FF;
    width: 100%;
    height: 15vh;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);

    opacity: 0.9;
    display: flex;
    justify-content: space-around;

    position: fixed;
    transition: 0.2s;
    z-index: 2;
    color: black;
}

nav.navbar_active {
    background-color: white;
    transition: 0.8s;
    opacity: 0.7;
    height: 10vh;
    color: white;
}

.cimer {
    height: 13vh;
    margin: 5px 5px auto 0px;
    cursor: pointer;
    transition: 0.2s;
}

.cimeri {
    display: none;
}

.cimer_small {
    height: 8vh;
    transition: ease-out 0.8s;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;


}

.nav_links li a {
    text-decoration: none;
    color: #2B7DBD;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.2s;
}

.nav_links li a:hover {

    color: #11396F;
    font-size: 25px;
    font-weight: bold;
}

.nav_links li {
    list-style: none;
}

#burger_menu {
    margin: auto;
    display: none;
}

#burger_menu div {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 5px;
    transition: 1s;
}

.mainn {
    height: auto;
    width: 100%;
}

section h1 {
    margin: 50px auto;
    font-size: 50px;
}

.frost_section {
    background-image: url("../image/Backgroud_n.jpg");
    height: 80vh;
    background-size: 100%;
    background-size: cover;
}

.info tr {
    text-align: end;
}

.frost_container {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 270px;
    left: 50px;
    color: white;
    margin-bottom: 0;
}

.frost_container h1 {
    margin-top: 0px;
    font-size: 40px;
}

.frost_container p {

    line-height: 30px;
    font-size: 20px;
}

.frost_bg {
    width: 120%;
    z-index: -1;
    background-color: aqua;
}

.frost_img {
    width: 400px;
    position: absolute;
    top: 150px;
    right: 100px;
}

.values_section {
    height: 80vh;
    width: 100%;
    background-color: white;
    text-align: center;
    color: #2B7DBD;
    padding: 70px;
    margin-bottom: 100px;
}

.values_container {
    display: flex;
    justify-content: space-around;
}

.values_each {
    text-align: center;
    width: 200px;
    transition: 0.5s;
}

.values_each:hover {
    box-shadow: 0px 0px 73px -5px rgba(0, 0, 0, 0.75);

}

.value_title {
    margin: 30px auto;
    font-size: 20px;
}

.values_img {
    width: 150px;
}

.projects_section {
    height: auto;
    width: 100%;
    background-color: #E7F5FF;
    text-align: center;
    padding-top: 20px;
    padding-top: 70px;
    color: #2B7DBD;
}

.projects_section h1 {
    margin-bottom: 120px;
}

.projects_container {
    display: flex;
    justify-content: space-around;
}

.projects_each {

    text-align: center;
    width: 200px;
}

.reviews {
    height: 400px;
    text-align: center;
    color: #2B7DBD;
}

.appear_paragraph {
    width: 50%;
    height: auto;
    opacity: 0;
    transition: 1s all ease-in-out;
    transform: translateY(40px);
    color: black;
}

.show1 {
    opacity: 0;
    transition: 1s all ease-in-out;
    transform: translateY(40px);
}

.show_on1 {
    opacity: 1;
    transform: translateY(0);
}

.show2 {
    opacity: 0;
    transition: 1s all ease-in-out;
    transform: translateY(40px);
}

.show_on2 {
    opacity: 1;
    transform: translateY(0);

}

.show3 {
    opacity: 0;
    transition: 1s all ease-in-out;
    transform: translateY(40px);
}

.show_on3 {
    opacity: 1;
    transform: translateY(0);
}

.appear_paragraph_on {
    opacity: 1;
    transform: translateY(0);
}

footer {
    width: 100%;
    height: 250px;
    background-color: #4788B3;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


footer div table {
    list-style: none;
    color: white;
    line-height: 40px;
}

footer div table tr td {
    text-align: center;
}

.some_img {
    height: 50px;
    margin: 0 10px;

}

.project_imag {
    width: 220px;
}

.contact_img {
    height: 30px;
    margin-top: 10px;
}








.slider_container {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 80%;
    height: 350px;
}

.slide {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    padding: 90px 150px;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: #11396F;
    line-height: 40px;
    animation: text_visible 1.4s;

}

@keyframes text_visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prev,
.next {

    z-index: 2;
    height: 350px;
    width: 80px;
    margin: auto;
    display: flex;
    line-height: 40px;
    cursor: pointer;
    opacity: 0.8;


}

.prev:hover,
.next:hover {
    opacity: 1;
}

.prev {
    margin-right: 0;
    transform: scaleX(-1);
}

.next {
    margin-left: 0;
}

.slide_active {
    display: flex;


}

@media screen and (max-width: 1030px) {
    .nav_links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .prev,
    .next {
        display: none;
    }

    .slider_container {
        height: 350px;
        background-color: white;
        margin-top: 50px;


    }

    .they_said {
        margin-left: 10%;
        transform: translateX(0);
    }

    .slider {
        width: 100%;
        height: auto;
    }

    .slide {
        padding: 4%;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-align: center;
        justify-content: center;
        font-size: 20px;

        line-height: 40px;
        animation: text_visible 1.4s;

    }



    #burger_menu {
        display: block;
        position: fixed;
        right: 35px;
        top: 35px;
    }

    .projects_each {
        margin: 100px auto;
    }

    .projects_container {
        display: block;
    }



    .nav_links li a {
        color: white;
    }

    nav {
        background-color: navy;
        background: none;
        border: none;
        box-shadow: 0px 0px 0px 0px;
    }

    nav.navbar_active {
        background: none;
        opacity: 1;
    }

    .cimer {
        display: none;
    }

    .cimeri {
        width: 150px;
        display: block;
    }

    .nav_links {

        position: fixed;
        right: 0;
        height: 100vh;
        background-color: #338CD8;
        display: flex;
        flex-direction: column;
        width: 90%;
        transform: translateX(100%);
    }

    .nav_links_clicked {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
    }

    .mainn {
        height: auto;
        width: 100%;
        padding: 0;
    }

    .frost_container {
        width: 100%;
        top: 250px;
        left: 0px;
        padding: 20px;
    }

    .frost_container p {
        width: 90%;
        line-height: 30px;
        font-size: 20px;
    }


    .frost_img {
        display: none;
    }

    .appear_text {
        width: 100%;
    }

    .values_container {
        display: block;
    }

    .values_each {
        margin: 100px auto;
        width: 80%;
    }

    .values_each:hover {
        box-shadow: none;

    }

    .values_img {
        width: 200px;
    }

    .values_section {
        height: auto;
        width: 100%;
        background-color: white;
        text-align: center;
        color: #2B7DBD;
        padding: 70px;
        margin-bottom: 100px;
    }

    footer {
        height: auto;
        display: block;
        padding: 50px;
        font-size: 23px;
    }

    footer div {
        justify-content: center;
        display: flex;
        margin: 50px 50px 0px 50px;
    }

    .some_img {
        height: 50px;
        margin: 30px;
    }


}



.csik1_a {
    transform: rotate(-45deg) translate(-5px, 0px);
}

.csik2_a {
    display: none;
    transition: 2s;
}


.csik3_a {
    transform: rotate(45deg) translate(-5px, 0px);
}

.project_button {
    background-color: #338CD8;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 46px;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 2px solid #ffffff;
}

.project_button:hover {
    background-color: white;
    border: #338CD8 solid 2px;
    color: #338CD8;
}

.project_buttn:active {
    position: relative;
    top: 1px;
    outline: none;
}
